.login-wrapper {
    width: 100vw;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-wrapper mat-card-header,
  .login-wrapper mat-card-actions {
    display: flex;
    justify-content: center;
  }
  
  .login-wrapper mat-form-field {
    display: block;
  }
  