<div class="login-wrapper">
  <form [formGroup]="form" (submit)="login()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Login name</mat-label>
            <input matInput
                   name="email"
                   required
                   formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
                   name="pass" required formControlName="pass">
            <button type="button" mat-icon-button matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-stroked-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
