<mat-form-field class="filter">
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<div style="overflow: auto">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:columns"></mat-row>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>title</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.title}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="destination">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>destination</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.destination}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="model_description">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>model_description</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.model_description}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="registration_time">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>registration_time</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.registration_time | date}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>phone</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.phone}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>options</mat-header-cell>
        <mat-header-cell *matCellDef="let element">
          <button (click)="getToken(element.id)" mat-button>Generate token</button>
          <button (click)="deleteStation(element.id)" mat-button>Delete Station</button>
        </mat-header-cell>
      </ng-container>

    </mat-table>
  </div>
</div>
