<mat-tab-group mat-stretch-tabs>
  <mat-tab label="TABLE">

    <ul class="flex-container">
      <mat-form-field appearance="fill">
        <mat-label>Station</mat-label>
        <mat-select [(value)]="selectedOption" placeholder="State" (selectionChange)="onChangeStation($event)">
          <mat-option *ngFor="let station of stations" [value]="station.value">
            {{station.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field>
    </ul>

    <div style="overflow: auto">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort>
          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns:columns"></mat-row>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.id}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="measurement_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>measurement_time</mat-header-cell>
            <mat-header-cell
              *matCellDef="let element">{{element.measurement_time | date:'y, MMM d, HH:mm:ss'}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="humidity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>humidity</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.humidity}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="temperature">
            <mat-header-cell *matHeaderCellDef mat-sort-header>temperature</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.temperature}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="air_quality">
            <mat-header-cell *matHeaderCellDef mat-sort-header>air_quality</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.air_quality}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="wind_speed">
            <mat-header-cell *matHeaderCellDef mat-sort-header>wind_speed</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.wind_speed}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="wind_gusts">
            <mat-header-cell *matHeaderCellDef mat-sort-header>wind_gusts</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.wind_gusts}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="wind_direction">
            <mat-header-cell *matHeaderCellDef mat-sort-header>wind_direction</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.wind_direction}}</mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="rainfall">
            <mat-header-cell *matHeaderCellDef mat-sort-header>rainfall</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.rainfall}}</mat-header-cell>
          </ng-container>

        </mat-table>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="CHART">

    <ul class="flex-container">
      <mat-form-field appearance="fill">
        <mat-label>Station</mat-label>
        <mat-select [(value)]="selectedOption" placeholder="State" (selectionChange)="onChangeStation($event)">
          <mat-option *ngFor="let station of stations" [value]="station.value">
            {{station.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date from</mat-label>
        <input matInput #fromDate [matDatepicker]="pickerFrom" (dateChange)="saveFromDate(fromDate.value)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date to</mat-label>
        <input matInput #toDate  [matDatepicker]="pickerTo" (dateChange)="saveToDate(toDate.value)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </ul>

    <div class="chart">
      <canvas id="chart" width="700" height="250" #chart></canvas>
    </div>

  </mat-tab>

</mat-tab-group>

