<div class="register-wrapper">
  <form class="form-wrapper" [formGroup]="regForm" (submit)="register()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput required formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput required formControlName="password">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput required formControlName="confirmPassword">
            <div *ngIf="check()">Passwords not same</div>


          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput required formControlName="city">
          </mat-form-field>
      </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-stroked-button color="primary"
        >Register
        </button>

      </mat-card-actions>
    </mat-card>
  </form>
</div>
